<tr id="line-{{ item.id }}" >
{% if component.hasBulkActions %}
    <td>
        <input type="checkbox" name="ids[]" value="{{ item.id }}" class="js-bulk-checkbox">
    </td>
{% endif %}
{% for field in component.fields%}
    {% set columnName = field.name %}
    {% set template = field.template %}
    {% set custom = field.custom %}
    {% set url = null %}
    {% if field.linkTo %}
        {% set url = adminlist.getShowUrl(item,field) %}
    {% endif %}
    <td> {% if url %} <a href="{{ path(url["path"],url["params"]) }}"> {% endif %}
    {% if template is not null %}
        {% include template with {'entity': item, 'field': field, 'value': adminlist.getValue(item, columnName), 'configurator': configurator} %}
    {% else %}
        {{ render_field_value(component, field, item) }}
    {% endif %}
    {% if url %} </a> {% endif %}</td>
{% endfor %}
{% include component.partial('item_actions') with {'component':component, 'item':item} %}
</tr>