<tr id="{{ component.gid('line')  }}-{{ item.id }}" >
{% if component.hasBulkActions %}
    <td>
        <input type="checkbox" name="ids[]" value="{{ item.id }}" class="lego-bulk-checkbox">
    </td>
{% endif %}
{% for field in component.fields%}
    <td>
        {{ render_field_value(component, field, item) }}
    </td>
{% endfor %}
{% include component.partial('item_actions') with {'component':component, 'item':item} %}
</tr>