<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> {{ footer.version }}    </div>
    <strong>Copyright &copy; {{ footer.libelle }}.</strong> All rights reserved.
</footer>