<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}LEGOBUNDLE{% endblock %}</title>
    <link rel="stylesheet" href="/bundles/idklego/adminLte/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/bundles/idklego/adminLte/dist/css/AdminLTE.min.css">
    <link rel="icon" href="/bundles/idklego/images/favicon.ico" />
</head>
<body class="hold-transition login-page">
{% block page_content %}{% endblock %}
</body>
</html>
