<div class="box-header">
    {% if adminlist.hasListActions %}
        <div class="btn-group pull-right">
            {% include 'IdkLegoBundle:Default:_list_actions.html.twig' with { 'adminlist':adminlist,'onlyBottom': true } %}
        </div>
    {% endif %}
</div>