{% extends 'LleAdminListBundle:Default:logs.html.twig' %}
{% block page_title %}{{adminlist.getTitle()}}{% endblock %}
{% block page_subtitle %}Historique de {{ item }}{% endblock %}



{% block extra_actions_header %}
  <div class="box-header">
        <div class="extra_actions_header">
            <div class="btn-group pull-right">
                <a href="{{ path( adminlist.getShowUrl(item)["path"], adminlist.getShowUrl(item)['params'] ) }}" class="btn btn-default">
                    Retour
                </a>
            </div>
        </div>
  </div>
{% endblock %}
