
<div class="box">
    <div class="box-header">
    </div>


    <div class="box-body"  id="{{ component.gid('body') }}">

        <div class="table_overflow_fix table-responsive">
            <table class="table table-striped table-hover table-bordered table-sortable responsive">
                <thead>
                <tr>
                    <td>Prototype component Tree</td>
                </tr>
                </thead>
                <tbody>
                    <tr><td>
                    {% for item in component.entities %}
                        {%  for 0..item.level %}&nbsp&nbsp{% endfor %}{{ item.libelle }}
                        <a href="">UP</a>
                        <a href="">DOWN</a>
                        <a href="">DELETE</a>
                    {% endfor %}
                    </td></tr>
                </tbody>
            </table>

        </div>


    </div>
</div>