<div class="col-md-12">
    <span style="margin-right:15px; margin-bottom:5px;" class="btn btn-primary show_widget pull-right"><i class="fa fa-plus"></i> {{ 'widget.add'|trans }}</span>
    <div style="clear:both"></div>
    <div class="jsa-widget-container" data-save="{{ path('app_widget_save') }}">
        {% for widget in widgets %}
            {{ render_widget(widget) }}
        {%  endfor %}
    </div>
</div>
