<div id="{{ component.gid('line')  }}-{{ entity.id }}">
    {% for field in component.fields %}
            <dl class="dl-horizontal">
                <dt>{{ field.header|trans }}</dt>
                <dd>{{ render_field_value(component,field,entity) }}</dd>
            </dl>
    {% endfor %}
</div>
