.jsa-click, .jsa-ajax{
    cursor:pointer;
}

.jsa-widget-holder{
    border: 1px dotted #8c8c8c;
    margin: 0 1em 1em 0;
    height: 50px;
}

.jsa-error .modal-header{
    border-top: 4px solid red;
}

.jsa-success .modal-header{
    border-top: 4px solid green;
}

.jsa-warning .modal-header, .jsa-warning-confirm .modal-content{
    border-top: 4px solid orange;
}

.jsa-default .modal-header{
    border-top: 4px solid blue;
}
