div.pagination {
    float: right;
    clear: both;
}


div.widget .btn:first-child {
    margin-bottom: 10px;
}

div.widget .caret {
    margin-left: 8px;
}

.edit-in-place{
	background-color:#e5e9f6;
	display:inline-block;
	background-image:url('../images/editinplace.png');
	background-repeat:no-repeat;
	background-position:right center;
	text-align:justify;
	min-width:100px;
	padding:4px;
	padding-right:20px;
	border-radius:5px;
  min-height:28px;
}

.select2-selection--multiple ul{
  background-image:url('../images/caret.png');
  background-repeat:no-repeat;
  background-position:top 15px right 5px;
}

.jsa-click, .jsa-ajax{
  cursor:pointer;
}

@-moz-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}

ul.pagination {
  margin: 0px;
}

th.sorting:hover .sort-icon:after {
   content: " \25B4\25BE"
}
th.sorting_desc .sort-icon:after {
   content: " \25B4"
}
th.sorting_asc .sort-icon:after {
   content: " \25BE"
}


