div.pagination {
    float: right;
    clear: both;
}


div.widget .btn:first-child {
    margin-bottom: 10px;
}

div.widget .caret {
    margin-left: 8px;
}

.edit-in-place{
	background-color:#e5e9f6;
	display:inline-block;
	background-image:url('../images/editinplace.png');
	background-repeat:no-repeat;
	background-position:right center;
	text-align:justify;
	min-width:100px;
	padding:4px;
	padding-right:20px;
	border-radius:5px;
  min-height:28px;
}

.select2-selection--multiple ul{
  background-image:url('../images/caret.png');
  background-repeat:no-repeat;
  background-position:top 15px right 5px;
}

.lle-click, .lle-ajax{
  cursor:pointer;
}

.lle-browser input{
  width:100%;
}

.lle-browser label{
  display:block;
  width:100%;
}

.lle-browser li{
  list-style-type: none;
  float:left;
  display:inline-block;
  text-align:center;
  border:1px dotted black;
  padding:5px;
  margin-left:5px;
}

.lle-browser li:hover{
  background-color:black;
  color:#fff;
}

.lle-browser li .folder-name{
  text-align:center;
}

.lle-dropzone{
  margin-top:10px;
}


/* The MIT License */
.lle-dropzone,
.lle-dropzone *,
.lle-dropzone-previews,
.lle-dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lle-dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
}
.lle-dropzone.dz-clickable {
  cursor: pointer;
}
.lle-dropzone.dz-clickable .dz-message,
.lle-dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}
.lle-dropzone.dz-clickable * {
  cursor: default;
}
.lle-dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.lle-dropzone.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.lle-dropzone.dz-started .dz-message {
  display: none;
}
.lle-dropzone .dz-preview,
.lle-dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
.lle-dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.lle-dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.lle-dropzone .dz-preview .dz-details,
.lle-dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}
.lle-dropzone .dz-preview .dz-details .dz-filename,
.lle-dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
.lle-dropzone .dz-preview .dz-details img,
.lle-dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.lle-dropzone .dz-preview .dz-details .dz-size,
.lle-dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}
.lle-dropzone .dz-preview.dz-error .dz-error-mark,
.lle-dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.lle-dropzone .dz-preview.dz-success .dz-success-mark,
.lle-dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.lle-dropzone .dz-preview:hover .dz-details img,
.lle-dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
.lle-dropzone .dz-preview .dz-success-mark,
.lle-dropzone-previews .dz-preview .dz-success-mark,
.lle-dropzone .dz-preview .dz-error-mark,
.lle-dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.lle-dropzone .dz-preview .dz-success-mark,
.lle-dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
.lle-dropzone .dz-preview .dz-error-mark,
.lle-dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
.lle-dropzone .dz-preview .dz-progress,
.lle-dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.lle-dropzone .dz-preview .dz-progress .dz-upload,
.lle-dropzone-previews .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
.lle-dropzone .dz-preview.dz-processing .dz-progress,
.lle-dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.lle-dropzone .dz-preview .dz-error-message,
.lle-dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.lle-dropzone .dz-preview:hover.dz-error .dz-error-message,
.lle-dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
.lle-dropzone {
  border: 1px solid rgba(0,0,0,0.03);
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
}
.lle-dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .lle-dropzone .dz-default.dz-message {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.lle-dropzone .dz-default.dz-message span {
  display: none;
}
.lle-dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}
.lle-dropzone.dz-drag-hover .dz-message {
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
}
.lle-dropzone.dz-started .dz-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.lle-dropzone .dz-preview,
.lle-dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  font-size: 14px;
}
.lle-dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.lle-dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
.lle-dropzone .dz-preview.dz-success .dz-success-mark,
.lle-dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.lle-dropzone .dz-preview.dz-error .dz-error-mark,
.lle-dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.lle-dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.lle-dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
.lle-dropzone .dz-preview .dz-error-mark,
.lle-dropzone-previews .dz-preview .dz-error-mark,
.lle-dropzone .dz-preview .dz-success-mark,
.lle-dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .lle-dropzone .dz-preview .dz-error-mark,
  .lle-dropzone-previews .dz-preview .dz-error-mark,
  .lle-dropzone .dz-preview .dz-success-mark,
  .lle-dropzone-previews .dz-preview .dz-success-mark {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.lle-dropzone .dz-preview .dz-error-mark span,
.lle-dropzone-previews .dz-preview .dz-error-mark span,
.lle-dropzone .dz-preview .dz-success-mark span,
.lle-dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}
.lle-dropzone .dz-preview .dz-error-mark,
.lle-dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}
.lle-dropzone .dz-preview .dz-success-mark,
.lle-dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}
.lle-dropzone .dz-preview .dz-progress .dz-upload,
.lle-dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../images/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .lle-dropzone .dz-preview .dz-progress .dz-upload,
  .lle-dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.lle-dropzone .dz-preview.dz-success .dz-progress,
.lle-dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.lle-dropzone .dz-preview .dz-error-message,
.lle-dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.lle-dropzone .dz-preview:hover.dz-error .dz-error-message,
.lle-dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.lle-dropzone a.dz-remove,
.lle-dropzone-previews a.dz-remove {
  background-image: -webkit-linear-gradient(top, #fafafa, #eee);
  background-image: -moz-linear-gradient(top, #fafafa, #eee);
  background-image: -o-linear-gradient(top, #fafafa, #eee);
  background-image: -ms-linear-gradient(top, #fafafa, #eee);
  background-image: linear-gradient(to bottom, #fafafa, #eee);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #aaa;
  margin-top: 26px;
}
.lle-dropzone a.dz-remove:hover,
.lle-dropzone-previews a.dz-remove:hover {
  color: #666;
}
@-moz-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}

ul.pagination {
  margin: 0px;
}

.colorpicker .colorpicker-saturation {
  background-image:url("/src/bower_components/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/saturation.png");
}


.colorpicker .colorpicker-hue {
  background-image:url("/src/bower_components/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/hue.png");
}

.colorpicker .colorpicker-alpha, .colorpicker .colorpicker-color {
  background-image:url("/src/bower_components/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/alpha.png");
}

th.sorting:hover .sort-icon:after {
   content: " \25B4\25BE"
}
th.sorting_desc .sort-icon:after {
   content: " \25B4"
}
th.sorting_asc .sort-icon:after {
   content: " \25BE"
}

.adminlist-filter .form-group {
    margin-bottom: 2px;
}
